<div class="background-form" [style.background-image]="'url('+background_image+')'">
	<div class="popup-form background-component mat-elevation-z18" [style.left]="border" [style.top]="border" [style.width]="size" [style.height]="size">

		<div class="titleform">{{appname}}</div>
		<div class="subtitleform">{{claim}}</div>

		<app-hourglass [message]="message"></app-hourglass>

		<mat-vertical-stepper [linear]="false" style="width:98%;margin-left:-5px;"
		                      *ngIf="message=='' && url_wallet==''"
		                      animationDuration="1000ms">

			<mat-step>
				<ng-template matStepLabel>Prendre / Attacher une photo</ng-template>

				<app-upload-file (uploaded)="onFileSelected($event)"
				                 *ngIf="message=='' && !photo" width="250px" height="150px"
				                 [zone]="true" style="display: inline-block;padding: 20px;"
				                 title="Importer un document depuis votre ordinateur / smartphone"
				                 [maxsize]="100000000">
					Importer une photo
				</app-upload-file>

				<div *ngIf="photo">
					<div style="display: inline-block;width:250px;height: 250px;position: relative;padding: 15px;margin: 20px;" class="mat-elevation-z2"  >
						<img [src]="photo!.file"
						     (click)="photo=undefined"
						     style="width:100%;height:100%;object-fit: cover;">
						<mat-icon (click)="rotate_photo()" title="Tourner la photo" *ngIf="!is_animated_photo()"
						          style="display:block;cursor:pointer;position:absolute;z-index: 100;left:20px;top:20px;color: gray;">
							cameraswitch
						</mat-icon>
					</div>
				</div>
				<br>
				<app-input value_type="text" maxlength="40"
				           *ngIf="photo && message.length==0" width="300px"
				           label="Titre du NFT" [value]="name"
				           (valueChange)="name=$event">
				</app-input>

				<br>
				<button mat-raised-button *ngIf="photo?.length>0"
				        (click)="restart()">
					Effacer
				</button>


			</mat-step>


			<mat-step>
				<ng-template matStepLabel>Choisir le visuel du NFT</ng-template>
				<app-hourglass *ngIf="visuels.length==0 && photo" message="Préparation des visuels en cours"></app-hourglass>
				<div *ngIf="visuels.length>0">
					<p class="mat-body-1">Sélectionner la photo à utiliser pour le NFT</p>
					<gallery
					         style="width: 350px;height:350px;display: inline-block;"
					         (indexChange)="select_visuel($event)" [thumbHeight]="0"
					         [items]="visuels"></gallery>
				</div>

				<br>
				<mat-checkbox [(ngModel)]="joinDoc" title="Ainsi le document peut être ouvert depuis le certificat">
					Joindre la photo originale
				</mat-checkbox>
			</mat-step>


			<mat-step >
				<ng-template matStepLabel>Informations complémentaires</ng-template>

				<br>
				<app-input value_type="memo" [value]="infos" (valueChange)="infos=$event;"
				           [cols]="40" [rows]="3" width="300px"
				           label="Texte d'accompagnement"
				           help="Informations ajoutée dans le NFTs">
				</app-input>

				<br>
				<app-input label="Pseudo / Nom du photographe" maxlength="50" width="300px"
				           [value]="photographer" (valueChange)="photographer=$event">
				</app-input>

				<br><br><br>
				<mat-expansion-panel>
					<mat-expansion-panel-header>Mode avancé</mat-expansion-panel-header>
					<app-input label="Dimension du visuel" [min]="400" [max]="2000" width="250px" [step]="10"
					           color_value="white"
					           [value]="nft_size" (valueChange)="nft_size=$event" value_type="slider">
					</app-input>
					<br>

				</mat-expansion-panel>


			</mat-step>
			<mat-step >
				<ng-template matStepLabel>Fabrication du NFT</ng-template>

					<app-input label="Nombre d'exemplaires (tirage)"
					           [min]="1" [max]="500" [value]="max_supply" width="300px"
					           value_type="slider" *ngIf="isSemiFungible()"
					           (valueChange)="max_supply=$event">
					</app-input>

					<br>
					<app-input label="destinataire du NFT" width="300px"
					           help="Adresse email ou d'un wallet"
					           [value]="dests" (valueChange)="dests=$event" value_type="text"></app-input>

				<br><br>
				<button mat-raised-button color="primary"
				        [disabled]="message.length>0 || !sel_visuel || dests.length==0"
				        (click)="ask_for_mint()">
					Fabriquer !
				</button>

			</mat-step>
		</mat-vertical-stepper>



		<div *ngIf="url_gallery.length>0 && url_wallet.length>0" class="mat-body-2" style="margin-top:100px;">
			<a [href]="url_wallet" target="walletNFluent" style="margin: 10px;">Wallet NFLUENT</a>
			<a [href]="url_gallery" target="Gallery" style="margin: 10px;">Voir le NFT</a><br><br>

			<button mat-raised-button color="primary" (click)="restart()">
				Nouvelle Photo
			</button>
		</div>
	</div>



</div>
